.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* geo-explorer */
body.application {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

input[type="radio"] {
  margin-left:5px;
  padding: 10px;
}

#app-wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
}

#app-toolbar {
  background: rgba(0,0,0,.75);
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  color: #fff;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

#app-toolbar .btn-primary {
  background-color: #00afd7;
  border: medium none;
  text-align: center;
}
#app-toolbar .btn-primary:focus,
#app-toolbar .btn-primary:hover {
  background-color: #0098BB;
}

#app-maparea {
  border-right: 1px solid #d7d7d7;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 0;
  height: 100%;
}

.chart-wrapper {
    min-height: 400px;
}
.chart-stage {
    min-height: 400px;
}

#app-sidebar .chart-wrapper {
  border: medium none;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

#marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.winesContainer {
  width: 30em;
  overflow-x: auto;
  white-space: nowrap;
}

.tools {
  min-height: 75px;
  padding: 0 5px 0 0;
}

.tool input, .tool select {
  background: rgba(0,0,0,.5);
  border: medium none;
  box-shadow: none;
  color: #e7e7e7;
  float: left;
  margin: 0 1%;
}
.radius input, .radius select {
  width: 48%;
}
.tool input,
.tool label,
.tool h5 {
  text-shadow: 0 0 1px #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
